*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    font-family: 'Lexend';
}

body{
    background: #FCC70A;
    text-align: center;
}

header{
    text-align: center;
    margin: 50px auto;
    color: #000;
    font-weight: 700;
}

header h1{
    text-align: center;
}

main{
    width: 500px;
    height: 830px;
    margin: 0 auto;
    padding: 10px;
    background: #C4C4C4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:40px;
    box-shadow: 30px 30px 30px #0000004f;
}

main section#view{
    width: 100%;
    height: 30%;
    text-align:center;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}

section#view .screen{
    outline:none;
    width: 85%;
    font-family: 'Lexend', sans-serif;
    background: #fff;
    margin: 0 auto;
    border-radius: 15px;
    padding: 7.5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.screen#view-fscreen-hist{
    font-size: 2.1em;
    border-radius: 5px;
    min-height: 60px;
    border:none;
}

.screen#view-fscreen-hist::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}


.screen#view-rscreen{
    font-size: 4.2em;
    min-height: 100px;
    text-align: center;
}


section#comands{
    text-align: center;
    width: 100%;
    height: 70%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#comands .line{
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.comand-button{
    width: 20%;
    max-width: 90px;
    height: 80%;
    max-height: 90px;
    font-family: 'Lexend', sans-serif;
    font-size: 2.2em;
    font-weight: 500;
    color: #fff;
    border-radius: 20px;
    border:none;
    background: #505050;
    outline:none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.comand-button#equal, .comand-button#ce{
    width: 40%;
    max-width: 200px;
}

.comand-button:hover{
    background: #EFCE57;
    transition: 0.3s;
}

/* ESTILIZAÇÃO PARA MOBILE*/

@media only screen and (max-width: 550px){
    header{
        margin: 20px auto;
    }
    main{
        width: 400px;
        height: 650px;
    }
    .screen#view-fscreen-hist{
        font-size: 1.8em;
        min-height: 50px;
    }
    .screen#view-rscreen{
        font-size: 3em;
        min-height: 75px;
    }
}

@media only screen and (max-width: 450px){
    main{
        width: 350px;
        height: 500px;
    }
    .comand-button{
        font-size: 1.5em; 
        border-radius: 10px;
    }
    .screen#view-fscreen-hist{
        font-size: 1.5em;
        min-height: 40px;
    }
    .screen#view-rscreen{
        font-size: 2.2em;
        min-height: 60px;
    }
    
}

@media only screen and (max-width: 350px){
    header{
        margin: 10px auto;
        font-size: 0.5em;
    }
    main{
        width: 300px;
        height: 450px;
    }
    .comand-button{
        font-size: 1.2em; 
    }
    .screen#view-fscreen-hist{
        font-size: 1em;
        min-height: 40px;
    }
    .screen#view-rscreen{
        font-size: 1.8em;
        min-height: 50px;
    }
    
}

@media only screen and (max-width: 300px){
    header{
        margin: 10px auto;
    }
    main{
        width: 90%;
        height: 450px;
        border-radius: 25px;
    } 
}

